<ion-header>
  <ion-toolbar>
    <ion-title>{{ayuntamiento}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6"
               *ngFor="let i of temas; let c=index">
        <ion-card (click)="openTema(i)">
          <ion-card-header>
            <ion-card-title>{{i.titulo}}</ion-card-title>
            <ion-card-content>
              {{i.descripcion}}
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="crescent"
            loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
