<ion-header>
  <ion-toolbar>
    <ion-item slot="start">
      <ion-icon name="log-in" color="success" routerLink="/logear"></ion-icon>
    </ion-item>
    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/prueba" expand="full">
    pruebas
  </ion-button>
    <ion-button routerLink="/prueba" expand="full">
    pruebas
    </ion-button>
    <ion-button routerLink="/prueba" expand="full">
        Pene masivo XXL
    </ion-button>
</ion-content>
